.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 75px;
    color: black;
    opacity: 0;
    animation: fadeIn 2s forwards;
    white-space: nowrap; 
}

body {
    margin: 400px;
    padding: 30px;
    font-family: Arial, sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 400px;
    padding: 20px;
}

.grid-item {
    position: relative;
    overflow: hidden;
}

.grid-item img {
    width: 50%;
    height: auto;
    transition: transform 0.3s;
}

.grid-item:hover img {
    transform: scale(1.05);
}

.background-video {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}